<div class="body">
    <div class="container">
        <h1 class="heading">Patient Details</h1>
    </div>
    <div class="container">
        <div class="patient-box" (click)="getPharmacy()">
            <p><span class="info-label"><i class="bi bi-capsule"></i><img src=""></span> <span class="info-value">Pharmacy</span></p>
        </div>
        <div class="patient-box" (click)="getReferringDoctor()">
            <p><span class="info-label"><img src=""></span> <span class="info-value">Referring Doctor</span></p>
        </div>
        <div class="patient-box" (click)="getPrescription()">
            <p><span class="info-label"><img src=""></span> <span class="info-value">Prescription/Allergies/Alerts</span></p>
        </div>
        <div class="patient-box" (click)="getAppointments()">
            <p><span class="info-label"><img src=""></span> <span class="info-value">Appointments</span></p>
        </div>
        <div class="patient-box" (click)="getImages()">
            <p><span class="info-label"><img src=""></span> <span class="info-value">Images</span></p>
        </div>
        <div class="patient-box" (click)="getNotes()">
            <p><span class="info-label"><img src=""></span> <span class="info-value">Notes</span></p>
        </div>
    </div>
</div>